*{

 
    
   
}
.h1,h1{

    font-family: 'Lobster', cursive;

    font-size: 3em;

}
.h2,h2{

    font-family: 'Lobster', cursive;

    font-size: 2.5em;

}
.h3,h3{

    font-family: 'Lobster', cursive;

    font-size: 2em;

}
.h4,h4{

    font-family: 'Lobster', cursive;

    font-size: 1.5em;

}
.h5,h5{

    font-family: 'Lobster', cursive;

    font-size: 1em;

}



.btn-success{

    --bs-btn-bg: ;
    --bs-btn-hover-bg: ;

}
.btn-danger{

    --bs-btn-bg: ;
    --bs-btn-hover-bg: ;

}
.nav-link{
    font-family: 'Lobster', cursive;
  font-size: 1.5em;
  /* color:black !important; */

 }
 .h2,h2{

color:midnightblue;

 }
