{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}Coup de patte - Resultat recherche{% endblock %}

{% block body %}

{%include 'commun/nav.html.twig'%}
	<main>
		{%include 'commun/menu.html.twig'%}
		<section class="text-center container">
			<div class="row">
				<div class="col-lg-6 text-start mb-5">
					<h1 class="fw-light fs-4">Coup de Patte le site qui vous trouvera un ami pour la vie!</h1>
					<p class="lead text-muted fs-6">Avec coup de patte, adopter un animal aupres de particulier ou acheter un amimal chez de nos eleveurs referencés .</p>
				</div>
			</div>
            <h3>Résultats de votre recherche :</h3>
		</section>
		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
							<div class="col">
								<div class="card shadow-sm">
									<img src="" class=" card-img-top" width="100%" height="225">
									
									<div class="card-header">
										<hr>
										<div class="card-body">
											<p class="card-text"></p>
											Age de l'animal: ans
											<div class="d-flex justify-content-between align-items-center">
												<div class="btn-group">
													<a type="button" class="btn btn-sm btn-outline-secondary" href="">
														En savoir plus...</a>
												</div>
												<small class="text-muted">euros</small>
											</div>
										</div>
										<div
											class="card-footer"></div>
									</div>
								</div>
				</div>
		</div>
	</div>
</main>

{%include 'commun/footer.html.twig'%}

{% endblock %}

