{% extends 'base.html.twig' %}

{% block title %}Espace de connexion{% endblock %}

{% block body %}
<main class="container text-center">
    <h1 class="my-3">Connexion</h1>
    <div class="col my-5 d-flex">
        <form class="text-center" method="post" action="{{path('app_connection')}}">
            <div class="row p-5">
                <div class="m-3">
                    <input type="email" name="_username" class="form-control" id="email" placeholder="adresse@exemple.com">
                    <label for="floatingInput">adresse mail</label>
                </div>
                <div class="m-3">
                    <input type="password" name="_password" class="form-control" id="" placeholder="mot de passe">
                    <label for="floatingPassword">mot de passe</label>
                </div>
                <input type="hidden" name="_target_path" value="{{path('app_dashboard')}}">
                <input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate')}}">
                <button class="btn btn-dark mx-auto" style="max-width: 200px;" type="submit">valider</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
            </div>
        </form>
        <div>
            <img src="https://fourleggedguru.com/wp-content/uploads/2015/02/3752857682_680bcb97a3_o.jpg" class="float-right m-auto h-75"></img>
        </div>
    </div>
</main>
{% endblock %}
